@import 'bootstrap/scss/bootstrap';

.list-group {
    display: flex;
    flex-flow: row wrap;
}

.movie-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;

    .movie-container-item {
        min-width: 350px;
    }
}